<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="ServerLocation" value="grovertest.cbwbkynnwz1t.us-east-2.rds.amazonaws.com" />
        <add key="Port" value="1433" />
        <add key="Database" value="groverdata" />
        <add key="Username" value="admin" />
        <add key="Password" value="groverpassword" />
        <add key="RemoteServer" value="true" />
    </appSettings>
</configuration>